{% extends 'base.html.twig' %}

{% block content %}
<style>

    body {
        font-family: 'Arial', sans-serif;
        background-color: #121212;
        color: #ffffff;
        margin: 0;
        padding: 100px 0 0; 
    } 
    a {
        text-decoration: none;
        color: green;
        transition: color 0.3s ease;
    }
    a:hover {
        color: #ff5733;
    }
    
</style>

<div class="instrument-h1">
    <h1>Liste des instruments</h1>
</div>

<table class="instrument-table">
    <thead>
        <tr>
            <th>Image</th>
            <th>Détails</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for instrument in pInstruments %}
            <tr>
                <td class="instrument-image">
                    <img src="{{ asset('image/' ~ instrument.cheminImage) }}" alt="Instrument">
                </td>
                <td>
                    <div class="instrument-details">
                        <div>
                            <strong>Numéro de série :</strong> {{ instrument.numSerie }}<br>
                            <strong>Type :</strong> {{ instrument.typeInstrument.libelle }}<br>
                            <strong>Couleur :</strong> {{ instrument.couleur }}<br>
                            <strong>Date d'achat :</strong> {{ instrument.dateAchat|date('d/m/Y') }}
                        </div>
                    </div>
                </td>
                <td>
                    <a href="{{ path('instrumentConsulter', { id: instrument.id }) }}" class="btn btn-small">Consulter</a>
                    <a href="{{ path('instrumentModifier', { id: instrument.id }) }}" class="btn btn-small">Modifier</a>
                    
                    <button class="btn-trash" onclick="confirmDelete('{{ instrument.numSerie }}', {{ instrument.id }})">
                        <i class="fas fa-trash-alt"></i>
                    </button>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3" style="text-align: center;">Aucun instrument trouvé.</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<div class="btn-add">
    <a href="{{ path('instrumentAjouter') }}" class="btn">+ Ajouter un instrument</a>
</div>

<script src="../js/instrument-script.js"></script>

{% endblock %}
