{% extends 'base.html.twig' %}
{% block content %}
<style>
    a {
        text-decoration: none;
    }
    h1 {
        font-size: 40px;
    }
    .document-table a {
        font-size: 25px;
    }
    .imgInstrument img {
        max-width: 150px;
        height: auto;
        border-radius: 10px;
    }
</style>

<h1>Liste des instruments</h1>
<table class="document-table">
    <tbody>
        {% for instrument in pInstruments %}
            <tr>
                <td>
                    <a href="#" class="instrument-name"
                        data-id="{{ instrument.id }}"
                        data-numSerie="{{ instrument.numSerie }}"
                        data-dateAchat="{{ instrument.dateAchat|date('d/m/Y') }}"
                        data-prixAchat="{{ instrument.prixAchat }}"
                        data-utilisation="{{ instrument.utilisation }}"
                        data-couleur="{{ instrument.couleur }}"
                        data-typeInstrument="{{ instrument.typeInstrument.libelle }}"
                        data-interventions="{{ instrument.interventions|json_encode }}">
                        <div class="liste-instrument">
                            ○&nbsp;&nbsp;{{ instrument.numSerie }}&nbsp;&nbsp;&nbsp;&nbsp;{{ instrument.utilisation }}&nbsp;&nbsp;&nbsp;&nbsp;{{ instrument.couleur }}&nbsp;&nbsp;&nbsp;&nbsp;{{ instrument.typeInstrument.libelle }}
                        </div>
                        <div class="bouton-ajouter-instrument">
                            <button><a href="{{ path('instrumentAjouter') }}" target="_blank"> Ajouter </a></button>
                        </div>
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="tab-panel hidden" id="modele">
                        
                    </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td>Aucun instrument n'a été trouvé.</td>
            </tr>
        {% endfor %}
    </tbody>

</table>

<div id="instrumentModal" class="modal">
    <div class="modal-content">
        <button class="close-btn">&times;</button>
        <h2>Détails de l'instrument</h2>
        <div class="tabs">
    <button class="tab-button active" data-target="instrument">Instrument</button>
    <button class="tab-button" data-target="modele"><a href="{{ path('instrumentConsulter', { 'id': instrument.id }) }}" target="_blank" style="text-decoration: none; color:green;"> Autres</a></button>
</div>

        <div class="tab-content">
            <div class="tab-panel" id="instrument">
              <div class="info-total">
                <div class="info-instrument">
                <table>
                    <tr><td>Numéro de série :</td><td><span id="modal-numSerie"></span></td></tr>
                    <br>
                    <tr><td>Date d'achat :</td><td><span id="modal-dateAchat"></span></td></tr>
                    <br>
                    <tr><td>Prix d'achat :</td><td><span id="modal-prixAchat"></span></td></tr>
                    <tr><td>Utilisation :</td><td><span id="modal-utilisation"></span></td></tr>
                    <tr><td>Couleur :</td><td><span id="modal-couleur"></span></td></tr>
                    <tr><td>Type instrument :</td><td><span id="modal-typeInstrument"></span></td></tr>
                </table>
                </div>

             </div>

            <div class="bouton-consulter-instrument">
                <button><a id="modal-modifier-button" href="#" target="_blank"> Modifier </a></button>
             </div>

            </div>
            
            <div class="tab-panel hidden" id="modele">
                
            </div>
            

            <div class="tab-panel hidden" id="marque">
                <ul id="interventionsList"></ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}
