{# templates/paiement/edit.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Modifier un Paiement{% endblock %}

{% block content %}
    <h1>Modifier le Paiement #{{ paiement.id }}</h1>

    {{ form_start(form) }}
        {{ form_row(form.montant) }}
        {{ form_row(form.datePaiement) }}
        {{ form_row(form.inscription) }}
        <button class="btn btn-primary">Mettre à jour</button>
    {{ form_end(form) }}

    <a href="{{ path('paiement_list') }}" class="btn btn-secondary mt-3">Retour à la liste des paiements</a>
{% endblock %}
