<!DOCTYPE html>
<html>
    <head>
        
    </head>
    <body>       
		<h5>PAGE DE CONSULTATION D'UN ETUDIANT</h5>
 <p>
  <table >
	<tr><td>Nom : </td><td>{{professeur.nom}}</td>
	<tr><td>Prénom : </td><td>{{professeur.prenom}}</td></tr></tr>
	<tr><td>rue : </td><td>{{professeur.numrue}} {{professeur.rue}}</td></tr>
	<tr><td>code postal : </td><td>{{professeur.copos}}</td></tr>
	<tr><td>ville : </td><td>{{professeur.ville}}</td></tr>
	<tr><td>tel : </td><td>{{professeur.tel}}</td></tr>
	<tr><td>mail : </td><td>{{professeur.mail}}</td></tr>
	
 </table>
	
	 
    </body>
</html>