{% extends 'base.html.twig' %}

{% block title %}Emploi du temps de {{ professeur.nom }}{% endblock %}

{% block body %}
    <h1>Emploi du temps de {{ professeur.nom }}</h1>

    <div class="planning">
        <table border="1">
            <thead>
                <tr>
                    <th>Heures</th>
                    {% for jour in jours %}
                        <th>{{ jour }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for heure in heures %}
                    <tr>
                        <td><strong>{{ heure }}h</strong></td>
                        {% for jour in jours %}
                            <td>
                                {% if planning[jour][heure] %}
                                    {{ planning[jour][heure] }}
                                {% else %}
                                {% endif %}
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
