{% extends 'base.html.twig' %}

{% block content %}

<h1>Consulter l'inscription</h1>

<table>
    <tr>
        <th>Nom</th>
        <td>{{ inscription.eleve.nom }}</td>
    </tr>
    <tr>
        <th>Prénom</th>
        <td>{{ inscription.eleve.prenom }}</td>
    </tr>
    <tr>
        <th>Cours</th>
        <td>{{ inscription.cours.libelle }}</td>
    </tr>
    <tr>
        <th>Date d'inscription</th>
        <td>{{ inscription.dateInscription|date('d/m/Y') }}</td>
    </tr>
</table>

<!-- Lien vers la modification -->
<a href="{{ path('insc_coursModifier', {'id': inscription.id}) }}">Modifier l'inscription</a>


{% endblock %}